@use './variables.scss' as v;
@use './mixins.scss' as m;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  height: 100%;
  width: 100%;
  @include m.flex(center, center, column);
}


body {
  background-color: v.$light_blue;
}