@use '../../../assets/scss/variables.scss' as v;

.submit_button{
    display: block;
    margin: 1em auto .3em auto;
    width: 50%;
    background-color: v.$dark_blue;
    border: 3px solid v.$light_blue;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover{
        background-color: v.$blue;
    }
}